@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-fade-out {
    opacity: 1;
    animation: fadeIn ease-in 4s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}